@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url(fonts/idroid.otf) format('woff');
}

body{
    background-color: #84e1ad;
    padding-top: 0px;
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to bottom, #3bd57f, #288e55, #1a5c38);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

h1.text-header{
    padding-top: 25px;
    font-weight: lighter;
}

.text-header{
    color: white;
    text-align: center;
    font-weight: lighter;
    text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.384);
    padding: 0;
    margin: 0;
}

#paragraph-header{
    color: rgba(255, 255, 255, 0.853);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.link-header {
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin-left: 6px;
}
img{
    width: 570px;
    display: block;
    margin: auto;
}

main{
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    margin: 0px 150px 20px 150px;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

.titulos{
    font-family: android, sans-serif;
    color: #1d663e;
}

.secundarios{
    background: linear-gradient(to right, #91cbab, white);
    padding-left: 5px;
}

.destaque{
    color: rgb(1, 59, 1);
    font-weight: bold; 
}


.link-main::after{
    content: "\1F9F7";
}

#video{
    background-color: #1a5c38;
    margin: 17px -10px 17px -10px;

}

iframe{
    display: block;
    margin: auto;
    padding: 17px;
}

#bugdroid{
    width: 370px;
}

#aprender-mais{
    background-color: #65da97;
    border-radius: 10px;
    padding-bottom: 5px;
}

#titulo-aprender-mais{
    border-radius: 10px 10px 0px 0px;
    background-color: #1cb960;
    padding:7px 0px 7px 5px ;
    color: white;
    font-weight: bold;
}

.text-main-aprender-mais{
    margin: 5px
}

#lista{
    display: flex;
}

#primeira-lista{
    justify-items: flex-start;
}

#segunda-lista{
    margin-left: 170px;
}

.lista{
    text-decoration: underline;
    font-weight: bold;
}

.item-lista::before{
    content: "\2714";
}

p{
    text-indent: 20px ;
}

#text-footer{
    display: block;
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #1a5c38;
    padding: 7px;
    margin-bottom: 0px;
}

